* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bahnschrift;
}

input {
	border: none;
     box-shadow: none;
     width: 100%;
	border-radius: 2px;
     border: 0px solid black;
     padding-left: 10px;
}

select {
     appearance: none;
     /* outline: 1px solid black; */
     border: 0px solid black;
     border-radius: 4px;
     padding: 0 10px 0 5px;
     cursor: pointer;
}

.navigation {
     height: 5rem;
     min-height: 5rem;
}

.grid12 { 
     padding-top: 1rem;
	margin-top: 3rem;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
	/* grid-template-areas: 'fullName fullName fullName fullName fullName fullName eMail eMail eMail eMail eMail eMail' ; */
	justify-content: space-between;
	align-content: space-between;
	column-gap: 10%;
	row-gap: 1.2rem;
	/* background-color: chartreuse; */
	border: 1px solid black;

}

     .inputDiv{
          width: 18rem;
          padding: 1rem 6rem 1rem 0.5rem;
          background-color: rgb(207, 207, 207);
          border-radius: 5px;
     }

	.fullName { 
		grid-column: 4 / 8 ;
	}

     .eMail {
          grid-column:  8 / 10;
          grid-row: 1;
     }

	.bodypart {
          grid-column: 8 / 10;
          grid-row: 2;
          height: 5rem;
          display: flex;
     }
     
     .checkbox {
          grid-column: 8;
          grid-row: 6 / 6;
          display: flex;
          height: 1rem;
     }

          #check {
               position: relative;
               top: 5px;
               left: 15px;
          }

     .submitBtn {
          grid-column: 9;
          grid-row: 6 / 6;
          margin-bottom: 3rem;
          margin-right: 1rem;
          border: 1px solid black;
          border-radius: 5px;
          background-color: rgb(207, 207, 207);
          
     }

     .submitBtn:hover {
          border: 1px solid rgb(71, 71, 71);
          background-color: rgb(71, 71, 71);
     }

