* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}

.containerCustom {
    margin: auto;
    margin-top: 15rem;
    background-color: black;
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: flex-end;
    column-gap: 1rem;
    width: 70rem
}

        .numberContainer {
            height: 12rem;
            width: 8rem;
            padding: 1px;
            position: relative;
            background-color: black;  
        }

        .numberContainer * {
            position: absolute;
            flex: 1;
        }

            .numberPart {
                /* position: absolute; */
                border-radius: 2px;
            }

            .numberPartTop{
                margin: auto;
                height: 1rem;
                width: 8rem;
                border: solid 1rem transparent;
                border-top:solid 1rem black;
    
            }

             .numberPartTopLeft{
                width: 1rem;
                height: 6rem;
                border:solid 1rem transparent;
                border-left: solid 1rem black;
                
                
            }
            
            .numberPartTopRight{
  
                width: 1rem;
                height: 6rem;
                border:solid 1rem transparent;
                border-right: solid 1rem black;
                right: 0rem;
                top: 0rem;
            }
 
            .numberPartMiddleTop{
                height: 2.5rem;
                width: 8rem;
                margin: auto;
                border: solid 0.5rem transparent;
                border-bottom:solid 0.5rem black;
                top: 4rem;
            }

            .numberPartMiddleBot{
                height: 2.5rem;
                width: 8rem;
                margin: auto;
                border: solid 0.5rem transparent;
                border-top:solid 0.5rem black;
                top: 6.5rem;
            }

            .numberPartBotLeft{
                width: 1rem;
                height: 6rem;
                border:solid 1rem transparent;
                border-left: solid 1rem black;
                z-index: 10;
                top: 6.9rem;
            }

            .numberPartBot{
                height: 1rem;
                width: 8rem;
                margin: auto;
                border: solid 1rem transparent;
                border-bottom: solid 1rem black;
                bottom: -0.9rem;
            }
           
            .numberPartBotRight{
                width: 1rem;
                height: 6rem;
                border:solid 1rem transparent;
                border-right: solid 1rem black;
                top: 6.9rem;
                right: 0rem;
            }  

            .hide {
                border: solid 1rem transparent;
            }


        .colon {
            flex: 1;
            background-color: black;
        }

            .colonDot1, .colonDot2 {
                margin: auto;
                width: 1rem;
                height: 1rem;
                background-color: black;
                border-radius: 3px;
            }

            .colonDot1 {
                margin-top: 3.5rem;
            }

            .colonDot2 {
                margin-top: 2rem;
            }

    #dateContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        position: relative;
        top: 5rem;
        left: 1.5rem;
        width: 30rem;
    }

    #dateContainer * {
        flex: 1;
        font-family: bahnschrift;
        font-size: 3rem;
        font-weight: bold;
        margin-right: 2rem;
    }



