@import "../../../default.css";

.box {
    padding:20px;
    flex: 1;
}

#primary-section, #secondary-section {
    flex: 1;
}

#primary-section {
    order:2;
}

#secondary-section {
    order: 1;
    flex-direction: column;
}

#primary-section .box:nth-child(1) {
    background-color: aquamarine;
    color: white;
}

#secondary-section .box:nth-child(1) {
    background-color: cadetblue;
}

#secondary-section .box:nth-child(2) {
    background-color: cyan;
}