* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: 500px;
}

p {
    width: 70%;
    margin: auto;
    margin-top: 200px;
    line-height: 1.6rem;
    text-align: center;
    max-width: 800px;
    
}

nav {
    background-color: aquamarine;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    width: 80% ;
    margin: auto;
}

.square {
    border: 1px solid black;
    height: 400px ;
    margin-top: 7rem;
    position: relative;
}

.ball {
    background-color: red;
    width:50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%, -50%); /* gör att utgångspunkten på objektet blir i mitten snarare än i hörnet på den */
}

#top {
    position: absolute;
    top: 0;
}

.btn {
    background-color: grey;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 100%;
    right: 0;
    transform: translateY(-100%);
}