.grid-wrapper div {
    background-color: cyan;
    padding: 1rem;
}

.grid-wrapper div:nth-child(odd) {
    background-color: gray;
}

.grid-wrapper {
    display:grid;
    /* grid-template-columns: 70% 30%; */
    /* grid-template-columns:  40rem 10rem; */
    /* grid-template-columns: 3fr 3fr 3fr 3fr;  fractions, 7 + 3 = 10, så först är 7/10, andra 3/10 */ 
    grid-template-columns: repeat(3, 1fr); /* (x, y) = x: mängden gånger det repeteras, y: vad som repeteras. */
    
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem; /*funkar på både rows and coolumns*/

    /* grid-auto-rows: 100px;  // MAX HÖJD 100 PIXLAR */
    grid-auto-rows: minmax(100px, auto); /* (x, y) x: minvärde på höjd, y: maxvärde på höjd*/
}